@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>"After having been domesticated for so long, it's impossible in some cases to return a Pokémon to the wild. 
                In most scenarios we've seen, the Pokémon will have a lot of difficulty readjusting to life in the wilderness and often end up suffering on their own.
                Here at I.C.Y., it's our honor and privilage to help these wonderful creatures find new homes and loving families."
            </p>
            <p>
                <strong>-Yumi Smart: Founder of "I Choose You!" Adoption Center</strong>
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://placehold.co/450x350" alt="Image desc here"></img>
        </div>
    </div>
</div>

<p>
    lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump. lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump.
    lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump. lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump.
    lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump. lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump.
</p>
