@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<img src="https://placehold.co/300" alt="Image desc here"></img>


<p>This page will have a statement from the "company founder" about what inspired her to create the company, and her overall goal in making this place</p>

