@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump. lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump.
    lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump. lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump.
    lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump. lorem ipsum dolor sit. lorem epsum solo sh. dippus dougus deltoid dump. krampus krungus forrest gump.
</p>
