@model CPW221_PokemonAdoptionCenter.Models.Pokemon

@{
    ViewData["Title"] = "AdoptionSurvey";
}

<h2>Pokémon Adoption Questionaire</h2>

<form method="post" asp-action="TYForSubmitting">
    <p>
        It is our policy to ensure that each person who adopts a pokémon is aware of the responsibilities of pet guardianship, and
        is capable of and willing to accept those responsibilities morally, physically and financially. Not every person who desires to
        adopt a pokémon should do so.
        By completing this questionnaire, you will aid us in determining if you and your family are indeed ready for pet guardianship,
        and if the pokémon of your interest would suit you and your lifestyle. Should you agree that adopting a pet is a commitment
        throughout the lifetime of your companion animal, please fill out this questionnaire.
    </p>
    <p><b>PERSONAL INFORMATION</b></p>
    <div class="container">
        <!--Question 1-->
        <div class="question">
            <label for="question1">Full Name:</label>
            <input type="text" id="question1" name="question1" class="form-control" required />
        </div>
        <br />
        <!--Question 2-->
        <div class="question">
            <label for="question2">Age:</label>
            <div>
                <input type="radio" id="option1" name="question2" value="Option 1" required>
                <label for="option1">Under 20</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question2" value="Option 2" required>
                <label for="option2">20-39</label>
            </div>
            <div>
                <input type="radio" id="option3" name="question2" value="Option 3" required>
                <label for="option3">40-59</label>
            </div>
            <div>
                <input type="radio" id="option4" name="question2" value="Option 4" required>
                <label for="option4">60+</label>
            </div>
        </div>
        <br />
        <!--Question 3-->
        <div class="question">
            <label for="question3">Name of spouse/partner/roommate (if inapplicable write N/A):</label>
            <input type="text" id="question3" name="question3" class="form-control" />
        </div>
        <br />
        <!--Question 4-->
        <div class="question">
            <label for="question4">Full Address (Street, City, Region, Zip):</label>
            <input type="text" id="question4" name="question4" class="form-control" required />
        </div>
        <br />
        <!--Question 5-->
        <div class="question">
            <label for="question5">Phone:</label>
            <input type="tel" id="question5" name="question5" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
            <small>Format: 123-456-7890</small>
        </div>
        <br />
        <!--Question 6-->
        <div class="question">
            <label for="question6">Email:</label>
            <input type="email" id="question6" name="question6" class="form-control" required />
        </div>
        <br />
        <!--Question 7-->
        <div class="question">
            <label for="question7">Occupation</label>
            <input type="text" id="question7" name="question7" class="form-control" required />
        </div>
        <br />
        <!--Question 8-->
        <div class="question">
            <label for="question8">Work Schedule:</label>
            <input type="text" id="question8" name="question8" class="form-control" required />
        </div>
        <br />
        <!--Question 9-->
        <div class="question">
            <label for="question9">Would you be permitted to bring your pokémon into work with you?</label>
            <div>
                <input type="radio" id="option1" name="question9" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question9" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 10-->
        <div class="question">
            <label for="question10">Names of all persons living in your household, their relationship to you and their ages:</label>
            <input type="text" id="question10" name="question10" class="form-control" />
            <input type="text" id="question10" name="question10" class="form-control" />
            <input type="text" id="question10" name="question10" class="form-control" />
            <input type="text" id="question10" name="question10" class="form-control" />
        </div>
        <br />
        <!--Question 11-->
        <div class="question">
            <label for="question11">Please list two personal references and their relationship to you:</label>
            <input type="text" id="question11" name="question11" class="form-control" required />
            <input type="text" id="question11" name="question11" class="form-control" required />
        </div>
        <br />
    </div>
    <br />

    <p><b>YOUR HOME</b></p>
    <div class="container">
        <!--Question 1-->
        <div class="question">
            <label for="question1">Type of dwelling:</label>
            <div>
                <input type="radio" id="option1" name="question12" value="Option 1" required>
                <label for="option1">House</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question12" value="Option 2" required>
                <label for="option2">Apartment</label>
            </div>
            <div>
                <input type="radio" id="option3" name="question12" value="Option 3" required>
                <label for="option3">Condo</label>
            </div>
            <div>
                <input type="radio" id="option4" name="question12" value="Option 4" required>
                <label for="option4">Other</label>
                <input type="text" id="question1" name="question12" class="form-control"/>
            </div>
        </div>
        <br />
        <!--Question 2-->
        <div class="question">
            <label for="question2">Do you own or rent?:</label>
            <div>
                <input type="radio" id="option1" name="question13" value="Option 1" required>
                <label for="option1">Own</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question13" value="Option 2" required>
                <label for="option2">Rent</label>
            </div>
        </div>
        <br />
        <!--Question 3-->
        <div class="question">
            <label for="question3">If Condo, what are the association's rules about pokémon?:</label>
            <input type="text" id="question3" name="question14" class="form-control" />
        </div>
        <br />
        <!--Question 4-->
        <div class="question">
            <label for="question4">Do you have a yard?:</label>
            <div>
                <input type="radio" id="option1" name="question15" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question15" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 5-->
        <div class="question">
            <label for="question5">Does your home have a pool?:</label>
            <div>
                <input type="radio" id="option1" name="question16" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question16" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 6-->
        <div class="question">
            <label for="question6">If you have a pool, is it fenced in?:</label>
            <input type="text" id="question6" name="question17" class="form-control" required />
        </div>
        <br />
        <!--Question 7-->
        <div class="question">
            <label for="question7">How would you introduce a non water type pokémon to a pool?:</label>
            <input type="text" id="question7" name="question18" class="form-control" required />
        </div>
        <br />
        <!--Question 8-->
        <div class="question">
            <label for="question8">Would you allow an inspection of your home by a rescue volunteer?:</label>
            <div>
                <input type="radio" id="option1" name="question19" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question19" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 9-->
        <div class="question">
            <label for="question9">If not a homeowner, do you have the landlord’s permission to have a pokémon?:</label>
            <div>
                <input type="radio" id="option1" name="question20" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question20" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
    </div>
    <br />

    <p><b>YOUR COMPANION POKÉMON</b></p>
    <p><b>(this section is only required if you currently have any other pokémon living in your home)</b></p>
    <div class="container">
        <!--Question 1-->
        <div class="question">
            <label for="question1">Do you presently have any other pokémon?:</label>
            <div>
                <input type="radio" id="option1" name="question21" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question21" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 2-->
        <div class="question">
            <table id="interactiveTable">
                <label for="question22">CURRENT POKÉMON:</label>
                <thead>
                    <tr>
                        <th scope="col">Breed</th>
                        <th scope="col">Age</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Altered?</th>
                        <th scope="col">How/Why Obtained?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="breed" size="10"></td>
                        <td><input type="text" id="age" size="10"></td>
                        <td><input type="text" id="sex" size="10"></td>
                        <td><input type="text" id="altered" size="10"></td>
                        <td><input type="text" id="obtainedHow" size="10"></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="breed" size="10"></td>
                        <td><input type="text" id="age" size="10"></td>
                        <td><input type="text" id="sex" size="10"></td>
                        <td><input type="text" id="altered" size="10"></td>
                        <td><input type="text" id="obtainedHow" size="10"></td>
                    </tr>
                    <tr>
                        <td><input type="text" id="breed" size="10"></td>
                        <td><input type="text" id="age" size="10"></td>
                        <td><input type="text" id="sex" size="10"></td>
                        <td><input type="text" id="altered" size="10"></td>
                        <td><input type="text" id="obtainedHow" size="10"></td>
                    </tr>
                </tbody>
            </table><br />
        </div>
        <br />
        <!--Question 3-->
        <div class="question">
            <label for="question3">Have any of your pokémon laid eggs?:</label>
            <div>
                <input type="radio" id="option1" name="question23" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question23" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 4-->
        <div class="question">
            <label for="question4">If yes, do you breed for:</label>
            <div>
                <input type="radio" id="option1" name="question24" value="Option 1" required>
                <label for="option1">Fun</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question24" value="Option 2" required>
                <label for="option2">Profit</label>
            </div>
            <div>
                <input type="radio" id="option3" name="question24" value="Option 3" required>
                <label for="option3">Show</label>
            </div>
            <div>
                <input type="radio" id="option4" name="question24" value="Option 4" required>
                <label for="option4">Accident</label>
            </div>
            <div>
                <input type="radio" id="option5" name="question24" value="Option 5" required>
                <label for="option5">I answered no</label>
            </div>
        </div>
        <br />
        <!--Question 5-->
        <div class="question">
            <label for="question5">Has any member of your family ever experienced pokémon-related allergies?:</label>
            <div>
                <input type="radio" id="option1" name="question25" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question25" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
        <br />
        <!--Question 6-->
        <div class="question">
            <label for="question6">Have you ever trained a pokémon?:</label>
            <div>
                <input type="radio" id="option1" name="question26" value="Option 1" required>
                <label for="option1">Yes</label>
            </div>
            <div>
                <input type="radio" id="option2" name="question26" value="Option 2" required>
                <label for="option2">No</label>
            </div>
        </div>
    </div>
    <br />

    <p><b>YOUR NEW POKÉMON</b></p>
    <div class="container">
            <!--Question 1-->
            <div class="question">
                <label for="question1">Who would be responsible for the care of the pokémon?:</label>
                <input type="text" id="question1" name="question27" class="form-control" required />
            </div>
            <br />
            <!--Question 2-->
            <div class="question">
                <label for="question2">What's your primary reason for adopting a pokémon?:</label>
                <div>
                    <input type="radio" id="option1" name="question28" value="Option 1" required>
                    <label for="option1">Companion</label>
                </div>
                <div>
                    <input type="radio" id="option2" name="question28" value="Option 2" required>
                    <label for="option2">Guard pokémon</label>
                </div>
                <div>
                    <input type="radio" id="option3" name="question28" value="Option 3" required>
                    <label for="option3">Training</label>
                </div>
                <div>
                    <input type="radio" id="option4" name="question28" value="Option 4" required>
                    <label for="option4">Other</label>
                </div>
            </div>
            <br />
            <!--Question 3-->
            <div class="question">
                <label for="question3">Where would the pokémon sleep?:</label>
                <div>
                    <input type="radio" id="option1" name="question29" value="Option 1" required>
                    <label for="option1">Inside</label>
                    <input type="text" id="question3" name="question29" class="form-control" />
                </div>
                <div>
                    <input type="radio" id="option2" name="question29" value="Option 2" required>
                    <label for="option2">Outside</label>
                    <input type="text" id="question3" name="question29" class="form-control" />
                </div>
            </div>
            <br />
            <!--Question 4-->
            <div class="question">
                <label for="question4">How many hours would the pokémon be left alone?:</label>
                <input type="text" id="question4" name="question30" class="form-control" />
            </div>
            <br />
            <!--Question 5-->
            <div class="question">
                <label for="question5">Where would the pokémon be left when alone?:</label>
                <div>
                    <input type="radio" id="option1" name="question31" value="Option 1" required>
                    <label for="option1">Inside</label>
                    <p>where inside?</p>
                    <input type="text" id="question5" name="question31" class="form-control" />
                </div>
                <div>
                    <input type="radio" id="option2" name="question31" value="Option 2" required>
                    <label for="option2">Outside</label>
                    <p>where outside?</p>
                    <input type="text" id="question5" name="question5" class="form-control" />
                </div>
            </div>
            <br />
            <!--Question 6-->
            <div class="question">
                <label for="question6">Which rooms or areas of the home/yard will be off-limits to the pokémon?:</label>
                <div>
                    <input type="text" id="question6" name="question32" class="form-control" required />
                </div>
            </div>
            <br />
            <!--Question 7-->
            <div class="question">
                <label for="question7">What outside space is available for the pokémon?:</label>
                <div>
                    <input type="text" id="question7" name="question33" class="form-control" required />
                </div>
            </div>
            <br />
            <!--Question 8-->
            <div class="question">
                <label for="question8">How do you plan to handle the pokémon's exercise needs?:</label>
                <div>
                    <input type="text" id="question8" name="question34" class="form-control" required />
                </div>
            </div>
            <br />
            <!--Question 9-->
            <div class="question">
                <label for="question9">If necessary, would you be willing to attend obedience classes at your own expense?:</label>
                <div>
                    <input type="radio" id="option1" name="question35" value="Option 1" required>
                    <label for="option1">Yes</label>
                </div>
                <div>
                    <input type="radio" id="option2" name="question35" value="Option 2" required>
                    <label for="option2">No</label>
                </div>
            </div>
            <br />
            <!--Question 10-->
            <div class="question">
                <label for="question10">Do you travel a lot?</label>
                <div>
                    <input type="radio" id="option1" name="question36" value="Option 1" required>
                    <label for="option1">Yes</label>
                </div>
                <div>
                    <input type="radio" id="option2" name="question36" value="Option 2" required>
                    <label for="option2">No</label>
                </div>
            </div>
            <br />
            <div class="question">
                <label for="question10">If so, do you intend to bring the pokémon with you when you travel?</label>
                <div>
                    <input type="radio" id="option1" name="question37" value="Option 1" required>
                    <label for="option1">Yes</label>
                </div>
                <div>
                    <input type="radio" id="option2" name="question37" value="Option 2" required>
                    <label for="option2">No</label>
                </div>
            </div>
            <br />
            <!--Question 11-->
            <div class="question">
                <label for="question11">If not, where do you intend to leave the pokémon?:</label>
                <div>
                    <input type="text" id="question11" name="question138" class="form-control" required />
                </div>
            </div>
            <br />
            <!--Question 12-->
            <div class="question39">
                <label for="question12">Under what circumstances would you not keep the pokémon?</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Divorce
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Illness in family
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Moving
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        New baby
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                        New job
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                        Chewing
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                        Noise
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                        Damage
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                    <label class="form-check-label" for="defaultCheck9">
                        Allergys
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                    <label class="form-check-label" for="defaultCheck10">
                        Too large
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                    <label class="form-check-label" for="defaultCheck11">
                        Pokémon is difficult to care for
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                    <label class="form-check-label" for="defaultCheck12">
                        Doesn't get along with other pokémon
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                    <label class="form-check-label" for="defaultCheck14">
                        Other
                    </label>
                </div><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                    <label class="form-check-label" for="defaultCheck14">
                        Nothing 
                    </label>
                </div>

        </div>
        <br />
    </div>


    <!--WRAP UP QUESTIONS-->
    <label for="question1">Is there anything else you'd like to tell us about yourself?:</label>
    <input type="text" id="question1" name="question40" class="form-control" />
    <br />
    <p>
        Questionnaire Information: All of the information I have provided in this Questionnaire is true and correct. If any of the
        information changes, I will advise you promptly.
    </p>

    <label for="question2">Print Name:</label>
    <input type="text" id="question2" name="question41" class="form-control" required />
    <label for="question3">Date:</label>
    <input type="date" id="question3" name="question42" class="form-control" required />
    <br />
    <input type="submit" value="Submit">
</form>

<div>
    <a asp-action="Index">Home</a>
</div>