@model IEnumerable<CPW221_PokemonAdoptionCenter.Models.Pokemon>

@{
    ViewData["Title"] = "Our Pokémon";
}

<h1>Our Lovely Residents</h1>

<div>

    <div class="container text-center">
        <div class="row" style="padding-bottom: 10px">
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Haunter
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Paldean Wooper
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Sylveon(Shiny)
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row" style="padding-bottom: 10px">
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                            Galarian Meowth
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseTwo">
                            Mareanie
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseThree">
                            Azumarill
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row" style="padding-bottom: 10px">
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseOne">
                            Carnivine
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseTwo">
                            Vaporeon
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseThree">
                            Flabébé
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row" style="padding-bottom: 10px">
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseOne">
                            Phantump
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true" aria-controls="collapseTwo">
                            Kirlia
                        </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="https://placehold.co/250" alt="Image desc here"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseThree">
                            Espurr
                        </button>
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            [TO BE ADDED VIA DB]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>