
@{
    ViewData["Title"] = "Survey";
}

<h1>Survey</h1>

<p>This page will have a survey [TO BE ADDED LATER] that asks a series of questions to help the user narrow down what type of Pokemon they're looking for</p>
