@model CPW221_PokemonAdoptionCenter.Models.Pokemon
<!--GENERIC THANK YOU PAGE-->
<p><b>Thank you for filling out our survey! A member of our team will reach out to you soon!</b></p>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Return to homepage</a>
</div>