@model CPW221_PokemonAdoptionCenter.Models.Pokemon

<div class="container text-center">
    <h1>Pickamon Survey</h1>
    @{
        string NewName = Model.Name.Replace(' ', '-');
    }
    <div>
        <h4>We think @NewName could be a great fit for you!</h4>
        <img src="https://placehold.co/250" alt=""></img>
    </div>
    <h4>Wanna learn more about me?</h4>
        <div>
           <a asp-action="AvailableMons">Come see me and my other friends here at the center!</a>
      </div>
</div>
<!--DISPLAYS A RANDOM POKEMON FROM THE DB. CAN ONLY DISPLAY POKEMON THAT HAVE "isAvailable" SET TO TRUE-->
