@font-face {
    font-family: 'PokeFont';
    src: url('Pokemon GB.ttf') format('truetype');
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.carousel-caption {
    color: aliceblue
    background: rgba(0, 0, 0, 0.3);
}


body {
    margin-bottom: 60px;
    background-color: #fffccf;
    font-family: 'PokeFont', fallback;

}


.navbar {
    position: relative;
    background-color: white;
    border: 5px solid #FF97A4; /* Inner border */
    border-left: 20px solid #E83030;
    border-right: 20px solid #E83030;
    background-image: 
        linear-gradient(0deg, #8E8E8E 1px, transparent 1px), 
        linear-gradient(90deg, #8E8E8E 1px, transparent 1px);
    background-size: 20px 20px;
}

    .navbar:before {
        content: "";
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        border-left: 5px solid #FF97A4; /* Outer left border */
        border-right: 5px solid #FF97A4; /* Outer right border */
        pointer-events: none;
    }

.nav-link {
    color: black;
    background-color: #E83030;
    border: 1px solid #707070;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

    .nav-link:hover {
        color: white; /* Change the color of the links to red when hovered */
    }
