@{
    ViewData["Title"] = "I Choose You!: Pokémon Adoption Center";
}
<div class="text-center">
    <h1>I Choose You!</h1>
    <h4>Pokémon Adoption Center</h4>
    <p> 413 Marshtomp Blvd, Petalburg City, Hoenn Region</p>
    <p>Mon-Sat : 8am - 7pm    Sun : CLOSED</p>


    <p>Looking for a new pokémon companion but not quite ready to head into that tall grass? We've got you covered! Adopting is a great alternative when deciding to add a new pokémon to your family.</p>
    <div>
        <a asp-area="" asp-controller="Poke" asp-action="AvailableMons">come and see us!</a>
    </div>

    <img src="https://placehold.co/300" alt="Image desc here"></img>

    <img src="https://placehold.co/300" alt="Image desc here"></img>

    <img src="https://placehold.co/300" alt="Image desc here"></img>


    <h2>Upcoming Events</h2>
    <p>(Here I will list 2-3 events coming up in this fictional world)</p>

    <div id="carouselHome" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Event #1</h5>
                    <p>Info about a fictional event being hosted by the establishment will be listed here.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Event #2</h5>
                    <p>Info about a fictional event being hosted by the establishment will be listed here.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Event #3</h5>
                    <p>Info about a fictional event being hosted by the establishment will be listed here.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
