@{
    ViewData["Title"] = "I Choose You!: Pokémon Adoption Center";
}

<div class="text-center">
    <h1>I Choose You!</h1>
    <h4>Pokémon Adoption Center</h4>
    <p> 413 Marshtomp Blvd, Petalburg City, Hoenn Region</p>


    <p>This is where I'll place text explaining what this company is, and what it does</p>

    <img src="" alt="Image desc here"></img>

    <img src="" alt="Image desc here"></img>

    <img src="" alt="Image desc here"></img>
    
    <h2>Upcoming Events</h2>
    <p>Here I will list 2-3 events coming up in this fictional world</p>
</div>
