@{
    ViewData["Title"] = "I Choose You!: Pokémon Adoption Center";
}
<div class="text-center">
    <h1>I Choose You!</h1>
    <h4>Pokémon Adoption Center</h4>
    <p> 413 Marshtomp Blvd, Petalburg City, Hoenn Region</p>
    <p>Mon-Sat : 8am - 7pm    Sun : CLOSED</p>


    <p>Looking for a new pokémon companion but not quite ready to head into that tall grass? We've got you covered! Adopting is a great alternative when deciding to add a new pokémon to your family.</p>
    <div>
        <a asp-area="" asp-controller="Poke" asp-action="AvailableMons">come and see us!</a><!--Link to availavle pokemon page-->
    </div>

    <img src="https://placehold.co/300" alt="Image desc here"></img><!--Put images of the adoption center here-->

    <img src="https://placehold.co/300" alt="Image desc here"></img>

    <img src="https://placehold.co/300" alt="Image desc here"></img>

    <br />
    <h2>Upcoming Events</h2>

    <div id="carouselHome" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner"><!--TEXT SHOULD BE WRITTEN OUT ON THE ADVERTISEMENT PHOTO FOR BETTER FORMATTING-->
            <div class="carousel-item active">
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Pokémon 101</h5>
                    <p>Want to meet and learn about pokémon in a controlled environment? We've got you covered! 
                        I.C.Y. hosts weekly tours with our available pokémon to help anyone who wants to hands-on education of how pokémon are to be treated and cared for!</p>
                    <p><b>Date/Time: Every Wednesday 1pm-4pm</b></p>
                </div>
            </div><!--Education Event-->
            <div class="carousel-item">
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Walk-in Checkups Now Available!</h5>
                    <p>Pokémon companion injured on the road? Don't worry, we're here to help! I.C.Y. now has a built in pokémon center for all your companions health needs!</p>
                    <p><b>OPEN 24/7</b></p>
                    <p class ="fs-20">DISCLAIMER: While the pokémon center is open 24/7, the adoption center is still closed on Sundays and after 7pm on weekdays.</p>
                </div>
            </div><!--Checkup Events-->
            <div class="carousel-item"><!--Bakesale Event-->
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Poképuff Bakesale</h5>
                    <p>
                        We love pokémon, and we know pokémon love tasty sweets! I.C.Y. is hosting a bakesale to raise funds for the shelter. 
                        So bring your pokémon pals to try all our delicious treats! (Human-grade food will also be available)
                        If you'd like to volunteer for this event, please fill out our volunteer survey and we'll give you a call!
                    </p>
                    <p><b>Date/Time: Thursday August 1st, 11am - 2pm</b></p>
                </div>
            </div><!--Bakesale Event-->
            <div class="carousel-item">
                <img src="https://placehold.co/150x100" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Celebrating 10 years</h5>
                    <p>
                        Our beloved company is turning 10 this year! We'd be delighted to have anyone who wants to celebrate 
                        this huge milestone with us, so bring a friend, pokémon or otherwise, to enjoy the anniversary festivities!
                        (catering services will be provided for both humans and pokémon)
                    </p>
                    <p><b>Date/Time: Friday November 22nd, 1pm - 6pm</b></p>
                </div>
            </div><!--10 year anniversary celebration-->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev"><!--Previous carousel item button-->
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next"><!--Next carousel item button-->
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
