@{
    ViewData["Title"] = "Volunteer";
}
<h1>@ViewData["Title"]</h1>

<p>This page will detail info for people who wish to work/volunteer at this establishment. They'll be able to apply via a survey [TO BE ADDED LATER]</p>
